USE [SportsPlay]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleInitial] [nvarchar](1) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](2) NULL,
	[ZipCode] [nvarchar](5) NULL,
	[Phone] [nvarchar](20) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[Password] [nvarchar](10) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleInitial] [nvarchar](1) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](2) NULL,
	[ZipCode] [nvarchar](5) NULL,
	[Phone] [nvarchar](20) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[Password] [nvarchar](10) NULL,
	[Status] [nvarchar](1) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[ShipperID] [int] NULL,
	[Date] [date] NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleInitial] [nvarchar](1) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](2) NULL,
	[ZipCode] [nvarchar](5) NULL,
	[Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLine]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLine](
	[OrderLineID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [tinyint] NULL,
 CONSTRAINT [PK_InvoiceLine] PRIMARY KEY CLUSTERED 
(
	[OrderLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[SupplierID] [int] NULL,
	[Product] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[NumberInStock] [tinyint] NULL,
	[NumberOnOrder] [tinyint] NULL,
	[ReorderLevel] [tinyint] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[ShipperID] [int] IDENTITY(1,1) NOT NULL,
	[Shipper] [nvarchar](50) NULL,
	[PointOfContact] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](2) NULL,
	[ZipCode] [nvarchar](5) NULL,
	[Phone] [nvarchar](20) NULL,
	[EmailAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shipper] PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Supplier] [nvarchar](50) NULL,
	[PointOfContact] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](2) NULL,
	[ZipCode] [nvarchar](5) NULL,
	[Phone] [nvarchar](20) NULL,
	[EmailAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Category]) VALUES (1, N'Footwear - Men''s')
INSERT [dbo].[Category] ([CategoryID], [Category]) VALUES (2, N'Clothing - Men''s')
INSERT [dbo].[Category] ([CategoryID], [Category]) VALUES (3, N'Racquets')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [LastName], [FirstName], [MiddleInitial], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress], [Password], [Notes]) VALUES (2, N'Jones', N'Jacob', N'J', N'7890 W. Jackson St.', N'Jackson', N'WY', N'89076', N'123-098-0987', N'jjones@somemail.com', N'abc', N'Keep this customer happy. He buys a lot of merchandise from us.')
INSERT [dbo].[Customer] ([CustomerID], [LastName], [FirstName], [MiddleInitial], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress], [Password], [Notes]) VALUES (4, N'Thomas', N'Terry', N'T', N'8097 W. Teroka Ln. Apt. 5', N'Tontor', N'TN', N'78123', N'709-076-1235', N'tthomas@simplex.com', N'abc', N'')
INSERT [dbo].[Customer] ([CustomerID], [LastName], [FirstName], [MiddleInitial], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress], [Password], [Notes]) VALUES (6, N'Wardall', N'Nathan', N'A', N'119 Pinewood Dr.', N'Indianapolis', N'IN', N'46217', N'317-435-9807', N'nathan.wardall@fc.edu', N'abc', N'')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [LastName], [FirstName], [MiddleInitial], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress], [Password], [Status]) VALUES (1, N'Billingsley', N'Beth', N'B', N'6785 Barker Rd.', N'Bickman', N'MS', N'68321', N'765-987-1432', N'bbillingsley@sportsplay.com', N'abc', N'S')
INSERT [dbo].[Employee] ([EmployeeID], [LastName], [FirstName], [MiddleInitial], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress], [Password], [Status]) VALUES (2, N'Regal', N'Richard', N'R', N'12 E. Rogard St.', N'Remington', N'RI', N'45901', N'328-987-6534', N'rregal@sportsplay.com', N'abc', N'M')
INSERT [dbo].[Employee] ([EmployeeID], [LastName], [FirstName], [MiddleInitial], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress], [Password], [Status]) VALUES (3, N'Davis', N'Donald', N'D', N'324 W. Dickens Dr.', N'Denver', N'CO', N'45489', N'435-220-1098', N'ddavis@sportsplay.com', N'abc', N'S')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [CustomerID], [EmployeeID], [ShipperID], [Date], [LastName], [FirstName], [MiddleInitial], [Address], [City], [State], [ZipCode], [Phone]) VALUES (3, 4, 1, 2, CAST(N'2017-06-12' AS Date), N'Thomas', N'Tina', N'T', N'12 Terrace Lange Apt. 14C', N'Tareton', N'TX', N'60986', N'778-009-7534')
INSERT [dbo].[Order] ([OrderID], [CustomerID], [EmployeeID], [ShipperID], [Date], [LastName], [FirstName], [MiddleInitial], [Address], [City], [State], [ZipCode], [Phone]) VALUES (6, 6, 2, 1, CAST(N'2019-11-01' AS Date), N'Wardman', N'Nathan', N'A', N'119 Pinewood Dr.', N'Indianapolis', N'IN', N'46217', N'317-435-9807')
INSERT [dbo].[Order] ([OrderID], [CustomerID], [EmployeeID], [ShipperID], [Date], [LastName], [FirstName], [MiddleInitial], [Address], [City], [State], [ZipCode], [Phone]) VALUES (7, 8, 2, 1, CAST(N'2017-11-02' AS Date), N'James', N'Larry', N'C', N'13234 Country St.', N'Cincinnati', N'OH', N'40242', N'832-234-5932')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderLine] ON 

INSERT [dbo].[OrderLine] ([OrderLineID], [OrderID], [ProductID], [Price], [Quantity]) VALUES (4, 3, 3, CAST(149.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[OrderLine] ([OrderLineID], [OrderID], [ProductID], [Price], [Quantity]) VALUES (10, 7, 5, CAST(195.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderLine] ([OrderLineID], [OrderID], [ProductID], [Price], [Quantity]) VALUES (11, 7, 7, CAST(69.95 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[OrderLine] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [CategoryID], [SupplierID], [Product], [Description], [Image], [Price], [NumberInStock], [NumberOnOrder], [ReorderLevel]) VALUES (2, 3, 2, N'Prince Lightning 110', N'Perfect for beginner and intermediate level players in search of power and comfort. There''s also plenty of spin for bringing the ball down on target. Head size: 110in². Length: 27.5". String Pattern: 16x19.', N'PL110.jpg', CAST(75.00 AS Decimal(18, 2)), 12, 0, 4)
INSERT [dbo].[Product] ([ProductID], [CategoryID], [SupplierID], [Product], [Description], [Image], [Price], [NumberInStock], [NumberOnOrder], [ReorderLevel]) VALUES (3, 3, 2, N'Prince Textreme Warrior 100', N'This fast and very spin friendly racquet offers amazing feel and plenty of pop. Although perfectly weighted for intermediates, the Warrior 100 has near universal appeal. Head size: 100in². Length:27in. String Pattern: 16x18.', N'PTW100.jpg', CAST(199.00 AS Decimal(18, 2)), 15, 0, 5)
INSERT [dbo].[Product] ([ProductID], [CategoryID], [SupplierID], [Product], [Description], [Image], [Price], [NumberInStock], [NumberOnOrder], [ReorderLevel]) VALUES (4, 3, 6, N'Babolat Pure Aero French Open', N'Babolat celebrates the sacred dirt of Roland Garros with this special French Open edition of the Pure Aero. Like the standard cosmetic, this racquet specializes in spin, power and precision. Head size: 100 in². String Pattern: 16x19. Standard Length.', N'BPAFO.jpg', CAST(229.00 AS Decimal(18, 2)), 8, 0, 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipper] ON 

INSERT [dbo].[Shipper] ([ShipperID], [Shipper], [PointOfContact], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress]) VALUES (1, N'UPS', N'Upton Unser', N'1 UPS Dr.', N'Union', N'NY', N'18976', N'845-089-0765', N'uunser@ups.com')
INSERT [dbo].[Shipper] ([ShipperID], [Shipper], [PointOfContact], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress]) VALUES (2, N'FedEx', N'Fred Freeman', N'100 FedEx Ave.', N'Freetown', N'IN', N'67954', N'125-876-7896', N'ffreeman@fedex.com')
INSERT [dbo].[Shipper] ([ShipperID], [Shipper], [PointOfContact], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress]) VALUES (3, N'USPS', N'Ursala Upton', N'1000 Post Office Way', N'Unger', N'CA', N'90090', N'498-098-1000', N'uupton@usps.com')
SET IDENTITY_INSERT [dbo].[Shipper] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [Supplier], [PointOfContact], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress]) VALUES (1, N'Nike', N'Nate Niko', N'123 Nike Way', N'New City', N'ND', N'13265', N'316-980-1265', N'nniko@nike.com')
INSERT [dbo].[Supplier] ([SupplierID], [Supplier], [PointOfContact], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress]) VALUES (2, N'Prince', N'Phil Pelkin', N'098 Prince Rd.', N'Pingo', N'PA', N'87654', N'463-036-9988', N'ppelkin@prince.com')
INSERT [dbo].[Supplier] ([SupplierID], [Supplier], [PointOfContact], [Address], [City], [State], [ZipCode], [Phone], [EmailAddress]) VALUES (4, N'Adidas', N'Alan Alte', N'100 Adidas Ln', N'Altuna', N'AZ', N'67890', N'234-098-0897', N'aalte@adidas.com')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Shipper] FOREIGN KEY([ShipperID])
REFERENCES [dbo].[Shipper] ([ShipperID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Shipper]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Order]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
/****** Object:  StoredProcedure [dbo].[EmployeeLogin]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Beasley, Robert E.
-- Create date: 20xx-xx-xx
-- Description:	Check employee login credentials.
-- =============================================
CREATE PROCEDURE [dbo].[EmployeeLogin]

    -- Add the parameters for the stored procedure here.
    @EmailAddress AS NVARCHAR(50),
    @Password AS NVARCHAR(10)

AS

BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here.
	SELECT EmployeeID, FirstName + ' ' + MiddleInitial + ' ' + LastName AS FullName
	  FROM Employee
	 WHERE EmailAddress = @EmailAddress
	   AND Password = @Password;

END
GO
/****** Object:  StoredProcedure [dbo].[ProductModify]    Script Date: 23/4/2026 08:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Beasley, Robert E.
-- Create date: 20xx-xx-xx
-- Description: Update the product.
-- =============================================
CREATE PROCEDURE [dbo].[ProductModify]

    -- Add the parameters for the stored procedure here.
    @ProductID AS INT,
    @CategoryID AS INT,
    @SupplierID AS INT,
    @Product AS NVARCHAR(50),
    @Description AS NVARCHAR(MAX),
    @Image AS NVARCHAR(50),
    @Price AS DEC(18,2),
    @NumberInStock AS TINYINT,
    @NumberOnOrder AS TINYINT,
    @ReorderLevel AS TINYINT,
    @RowCount AS INT OUTPUT

AS

BEGIN

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- Insert statements for procedure here.
    UPDATE Product
       SET CategoryID = @CategoryID,
           SupplierID = @SupplierID,
           Product = @Product,
           Description = @Description,
           Image = @Image,
           Price = @Price,
           NumberInStock = @NumberInStock,
           NumberOnOrder = @NumberOnOrder,
           ReorderLevel = @ReorderLevel
     WHERE ProductID = @ProductID;

    SELECT @RowCount = @@ROWCOUNT;

END
GO
